USE [dhsysdb]
GO
/****** Object:  Table [dbo].[DH_SYSROLE]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DH_SYSROLE](
	[ROLEID] [int] IDENTITY(1,1) NOT NULL,
	[ROLENAME] [varchar](100) NOT NULL,
	[CREATEDATE] [varchar](100) NULL,
	[ROLEBAK] [varchar](100) NULL,
	[SEQ] [int] NULL,
 CONSTRAINT [PK_DH_SYSROLE] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [AK_KEY_2_DH_SYSRO] UNIQUE NONCLUSTERED 
(
	[ROLENAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DH_SYSROLE] ON
INSERT [dbo].[DH_SYSROLE] ([ROLEID], [ROLENAME], [CREATEDATE], [ROLEBAK], [SEQ]) VALUES (6, N'testtttt', N'2015-05-12', N'rerere', 1)
INSERT [dbo].[DH_SYSROLE] ([ROLEID], [ROLENAME], [CREATEDATE], [ROLEBAK], [SEQ]) VALUES (8, N'dadsadasdasdas', N'2015-05-12', N'dsadasda', 1)
SET IDENTITY_INSERT [dbo].[DH_SYSROLE] OFF
/****** Object:  Table [dbo].[DH_SYSMODULE]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DH_SYSMODULE](
	[MODULEID] [int] IDENTITY(1,1) NOT NULL,
	[MODULENAME] [varchar](20) NULL,
	[MODULEPATH] [varchar](50) NULL,
	[MODULEICON] [varchar](20) NULL,
	[MODULEDESC] [varchar](100) NULL,
	[MODULESTATE] [varchar](20) NULL,
	[MODULETYPE] [varchar](20) NULL,
	[PMODULEID] [int] NULL,
	[SORTNO] [int] NULL,
 CONSTRAINT [PK_DH_SYSMODULE] PRIMARY KEY NONCLUSTERED 
(
	[MODULEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [AK_KEY_2_DH_SYSMO] UNIQUE NONCLUSTERED 
(
	[MODULENAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对模块的描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DH_SYSMODULE', @level2type=N'COLUMN',@level2name=N'MODULEDESC'
GO
SET IDENTITY_INSERT [dbo].[DH_SYSMODULE] ON
INSERT [dbo].[DH_SYSMODULE] ([MODULEID], [MODULENAME], [MODULEPATH], [MODULEICON], [MODULEDESC], [MODULESTATE], [MODULETYPE], [PMODULEID], [SORTNO]) VALUES (1, N'会员管理', NULL, N'icon_member', N'售后系统会员管理', N'0', NULL, NULL, 1)
INSERT [dbo].[DH_SYSMODULE] ([MODULEID], [MODULENAME], [MODULEPATH], [MODULEICON], [MODULEDESC], [MODULESTATE], [MODULETYPE], [PMODULEID], [SORTNO]) VALUES (2, N'服务中心', NULL, N'icon_service', N'售后系统中的服务在线', N'0', NULL, NULL, 2)
INSERT [dbo].[DH_SYSMODULE] ([MODULEID], [MODULENAME], [MODULEPATH], [MODULEICON], [MODULEDESC], [MODULESTATE], [MODULETYPE], [PMODULEID], [SORTNO]) VALUES (8, N'系统管理', NULL, N'icon_sys', N'售后系统的维护', N'0', NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[DH_SYSMODULE] OFF
/****** Object:  Table [dbo].[DH_SYSLOG]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DH_SYSLOG](
	[LOGID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERACCOUNT] [varchar](100) NULL,
	[MODULENAME] [varchar](100) NULL,
	[TYPE] [varchar](100) NULL,
	[ACTIVEDATE] [varchar](100) NULL,
	[LOGBAK] [varchar](100) NULL,
	[STARTTIME] [bigint] NULL,
	[ENDTIME] [bigint] NULL,
	[COSTTIME] [bigint] NULL,
 CONSTRAINT [PK_DH_SYSLOG] PRIMARY KEY CLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DH_SYSLOG] ON
INSERT [dbo].[DH_SYSLOG] ([LOGID], [USERACCOUNT], [MODULENAME], [TYPE], [ACTIVEDATE], [LOGBAK], [STARTTIME], [ENDTIME], [COSTTIME]) VALUES (1, N'190144', N'/dhsys/main.html', N'1', N'2015-05-15', N'', 1431677921871, 1431677922115, 244)
INSERT [dbo].[DH_SYSLOG] ([LOGID], [USERACCOUNT], [MODULENAME], [TYPE], [ACTIVEDATE], [LOGBAK], [STARTTIME], [ENDTIME], [COSTTIME]) VALUES (2, N'190144', N'/dhsys/log/initLog.html', N'1', N'2015-05-15', N'', 1431677924503, 1431677924513, 10)
INSERT [dbo].[DH_SYSLOG] ([LOGID], [USERACCOUNT], [MODULENAME], [TYPE], [ACTIVEDATE], [LOGBAK], [STARTTIME], [ENDTIME], [COSTTIME]) VALUES (3, N'190144', N'/dhsys/main.html', N'1', N'2015-05-15', N'', 1431677970449, 1431677970744, 295)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[DH_SYSLOG] OFF
/****** Object:  Table [dbo].[DH_DEPT]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DH_DEPT](
	[deptid] [int] IDENTITY(1,1) NOT NULL,
	[deptno] [varchar](20) NULL,
	[deptname] [varchar](20) NULL,
	[createdate] [varchar](20) NULL,
 CONSTRAINT [PK_SYS_DEPT] PRIMARY KEY CLUSTERED 
(
	[deptid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DH_DEPT] ON
INSERT [dbo].[DH_DEPT] ([deptid], [deptno], [deptname], [createdate]) VALUES (1, N'0001', N'400客服部', N'2011-10-19')
INSERT [dbo].[DH_DEPT] ([deptid], [deptno], [deptname], [createdate]) VALUES (2, N'0002', N'产品部', N'2011-10-19')
INSERT [dbo].[DH_DEPT] ([deptid], [deptno], [deptname], [createdate]) VALUES (3, N'0003', N'维护部', NULL)
SET IDENTITY_INSERT [dbo].[DH_DEPT] OFF
/****** Object:  Table [dbo].[DH_SYSUSER]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DH_SYSUSER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[DEPTID] [int] NULL,
	[USERACCOUNT] [varchar](100) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[USERIP] [varchar](20) NULL,
	[CREATEDATE] [varchar](20) NULL,
	[ADMINFLAG] [varchar](2) NULL,
	[USERBAK] [varchar](100) NULL,
 CONSTRAINT [PK_DH_SYSUSER] PRIMARY KEY NONCLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [AK_KEY_2_DH_SYSUS] UNIQUE NONCLUSTERED 
(
	[USERACCOUNT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'01表示管理员' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DH_SYSUSER', @level2type=N'COLUMN',@level2name=N'ADMINFLAG'
GO
SET IDENTITY_INSERT [dbo].[DH_SYSUSER] ON
INSERT [dbo].[DH_SYSUSER] ([USERID], [DEPTID], [USERACCOUNT], [PASSWORD], [USERIP], [CREATEDATE], [ADMINFLAG], [USERBAK]) VALUES (1, 1, N'190144', N'123', N'192.168.1.12', N'2014-10-19', N'1', NULL)
INSERT [dbo].[DH_SYSUSER] ([USERID], [DEPTID], [USERACCOUNT], [PASSWORD], [USERIP], [CREATEDATE], [ADMINFLAG], [USERBAK]) VALUES (13, 3, N'190188', NULL, N'0:0:0:0:0:0:0:1', N'2015-05-07', N'2', N'')
INSERT [dbo].[DH_SYSUSER] ([USERID], [DEPTID], [USERACCOUNT], [PASSWORD], [USERIP], [CREATEDATE], [ADMINFLAG], [USERBAK]) VALUES (14, 1, N'190177', NULL, N'123', N'2015-05-07', N'1', N'12334')
SET IDENTITY_INSERT [dbo].[DH_SYSUSER] OFF
/****** Object:  Table [dbo].[DH_ROLE_MODULE]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DH_ROLE_MODULE](
	[ROLEID] [int] NOT NULL,
	[MODULEID] [int] NOT NULL,
 CONSTRAINT [PK_角色模块表(关系维护)] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC,
	[MODULEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DH_ROLE_MODULE] ([ROLEID], [MODULEID]) VALUES (6, 1)
INSERT [dbo].[DH_ROLE_MODULE] ([ROLEID], [MODULEID]) VALUES (6, 2)
INSERT [dbo].[DH_ROLE_MODULE] ([ROLEID], [MODULEID]) VALUES (6, 8)
/****** Object:  Table [dbo].[DH_USER_ROLE]    Script Date: 05/18/2015 09:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DH_USER_ROLE](
	[USERID] [int] NOT NULL,
	[ROLEID] [int] NOT NULL,
 CONSTRAINT [PK_DH_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC,
	[ROLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_角色模块表(关系_REFERENCE_DH_SYSMO]    Script Date: 05/18/2015 09:21:24 ******/
ALTER TABLE [dbo].[DH_ROLE_MODULE]  WITH CHECK ADD  CONSTRAINT [FK_角色模块表(关系_REFERENCE_DH_SYSMO] FOREIGN KEY([MODULEID])
REFERENCES [dbo].[DH_SYSMODULE] ([MODULEID])
GO
ALTER TABLE [dbo].[DH_ROLE_MODULE] CHECK CONSTRAINT [FK_角色模块表(关系_REFERENCE_DH_SYSMO]
GO
/****** Object:  ForeignKey [FK_角色模块表(关系_REFERENCE_DH_SYSRO]    Script Date: 05/18/2015 09:21:24 ******/
ALTER TABLE [dbo].[DH_ROLE_MODULE]  WITH CHECK ADD  CONSTRAINT [FK_角色模块表(关系_REFERENCE_DH_SYSRO] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[DH_SYSROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[DH_ROLE_MODULE] CHECK CONSTRAINT [FK_角色模块表(关系_REFERENCE_DH_SYSRO]
GO
/****** Object:  ForeignKey [FK_DH_SYSUS_REFERENCE_DH_DEPT]    Script Date: 05/18/2015 09:21:24 ******/
ALTER TABLE [dbo].[DH_SYSUSER]  WITH CHECK ADD  CONSTRAINT [FK_DH_SYSUS_REFERENCE_DH_DEPT] FOREIGN KEY([DEPTID])
REFERENCES [dbo].[DH_DEPT] ([deptid])
GO
ALTER TABLE [dbo].[DH_SYSUSER] CHECK CONSTRAINT [FK_DH_SYSUS_REFERENCE_DH_DEPT]
GO
/****** Object:  ForeignKey [FK_DH_USER__REFERENCE_DH_SYSRO]    Script Date: 05/18/2015 09:21:24 ******/
ALTER TABLE [dbo].[DH_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_DH_USER__REFERENCE_DH_SYSRO] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[DH_SYSROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[DH_USER_ROLE] CHECK CONSTRAINT [FK_DH_USER__REFERENCE_DH_SYSRO]
GO
/****** Object:  ForeignKey [FK_DH_USER__REFERENCE_DH_SYSUS]    Script Date: 05/18/2015 09:21:24 ******/
ALTER TABLE [dbo].[DH_USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_DH_USER__REFERENCE_DH_SYSUS] FOREIGN KEY([USERID])
REFERENCES [dbo].[DH_SYSUSER] ([USERID])
GO
ALTER TABLE [dbo].[DH_USER_ROLE] CHECK CONSTRAINT [FK_DH_USER__REFERENCE_DH_SYSUS]
GO
